.text-area-color{
    background-color: #f0faf3  ;
}

.text-area-2:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #f0faf3; /* Set border color to the same as background color */
    box-shadow: none; /* Remove any box shadow */
  }

.no-right-border{
    border-right: none;
}

.generate-button{
    background-color: #B9A0FF  ;
}

.generate-button:hover{
    background-color: #8c75ca !important ;
}

.copy-button{
    background-color: #24605A  ;
}

.copy-button:hover{
    background-color: #0f2826 !important;
}
  