.home-container{
    display: flex;
    margin-top: 3rem;
}

.home-container-left{
    width: 50%;
    padding: 8rem;
}

.home-container-right{
    width: 50%;
}

.home-container-right img{
    width: 80%;
    padding: 3.5rem;
}

.home-container h1{
    font-size: 2.5rem;
    text-align: left;
    font-weight: 500;
    margin-block: 1.5rem;
    
}

.home-container p{
    text-align: left;
}


.violet{
    color: #8460eb;
}

@media screen and (min-width:1600px){
    .home-container{
        height: 90vh;
        padding-top: 12rem;
    }
}

@media screen and (max-width:1080px) {
    .home-container{
        flex-direction: column;
        margin-top: 5rem;
    }

    .home-container-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding: 0 2rem;
    }

    .home-container-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 1rem;

    }

    
    .home-container-right img{
        width: 40%;
        padding: 0;
    }

}
