.navbar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  width: 100%;
  font-size: 1rem;
  z-index: 1000; 
  background-color: white;
}

.navbar-left{
  width: 50%;
  text-align: left;
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.navbar-right{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 2rem;
  
}

.nav-link:hover{
  color:#39cc76;
}

