@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* About Css */

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem
  }
  
  .team-member {
    width: calc(20% - 20px); 
    margin: 10px; 
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f0faf3;
  }
  
  .member-photo {
    width: 100%;
    height: 20rem; 
    object-fit: cover;
    filter: saturate(90%);
  }
  
  .member-details {
    padding: 10px;
    font-size: 0.8rem;
    background-color: #f0faf3;
  }
  
  .member-name {
    font-weight: bold;
  }
  
  .member-role {
    font-style: italic;
  }
  
  .title {
      text-align: left;
    }
  
  .paragraph{
      text-align: justify;
  }
  
  .word-genify{
      color: #B9A0FF;
  }

  @media (max-width: 576px) {
    .about-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .team-member{
      width: 80%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .about-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .team-member{
      width: 80%;
    }
  }
  
  @media (max-width: 1080px) {
    .about-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .team-member{
      width: 80%;
    }
  }

  /* SignUp.css */

.sign-up-phrase{
  background-color: #24605A;
  font-family: 'Poppins', sans-serif;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}

.sign-up-phrase-mini{
  color: #C3FFB2;
}

.link-text{
  color: #B9A0FF;
}


  /* Footer.css */

.footer {
  position: relative;
  bottom: 0; 
}

.custom-footer {
  background-color: #EDFAE4;
  color: black; 
}


/* Home.css */


.home-container{
  display: flex;
  margin-top: 3rem;
}

.home-container-left{
  width: 50%;
  padding: 8rem;
  font-family: 'Poppins', sans-serif;
}

.home-container-right{
  width: 50%;
}

.home-container-right img{
  width: 80%;
  padding: 3.5rem;
}

.home-container h1{
  font-size: 2.5rem;
  text-align: left;
  font-weight: 500;
  margin-block: 1.5rem;
  
}

.home-container p{
  text-align: left;
}


.violet{
  color: #8460eb;
}

@media screen and (min-width:1600px){
  .home-container{
      height: 90vh;
      padding-top: 12rem;
  }
}

@media screen and (max-width:1080px) {
  .home-container{
      flex-direction: column;
      margin-top: 5rem;
  }

  .home-container-left{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      padding: 0 2rem;
  }

  .home-container-right{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block: 1rem;

  }

  
  .home-container-right img{
      width: 40%;
      padding: 0;
  }

}

/* Navigation.css */

.navbar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  width: 100%;
  font-size: 1rem;
  z-index: 1000; 
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar-left{
  width: 50%;
  text-align: left;
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.navbar-right{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 2rem;  
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus { 
  color:#39cc76;
}

.nav-link.active {
  color: #39cc76; 
}

.navbar-toggle{
  display: none;
}

.navbar-links{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-mobile{
  display: none;
}

@media (max-width: 768px) {

  .navbar-toggle{
    display: block;
    margin-right: 2rem;
    font-size: 1.5rem;
  }

  .navbar-right{
    display: none;
  }

  .navbar-mobile{
    width: 100%;
    position: fixed;
    top: 0;
    right: -45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 98vh;
    background-color: #24605A;
   
    padding-block: 4rem;
    transition: right 0.5s ease-in-out;
    

  }

  .nav-link{
    text-align: left;
    margin-left: 3rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  .navbar-mobile.open{
    right: -10rem;
    z-index: 100;
  }

  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
     /* Ensure the overlay is on top of other content *//* Initially hide the overlay */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .overlay.show{
    opacity: 1;
    z-index: 50;
  }
  
  .close-icon{
    font-size: 2rem;
  }

}








/* PromptGenerator.css */

.text-area-color{
  background-color: #f0faf3  ;
}

.text-area-2:focus {
  outline: none; 
  border-color: #f0faf3; 
  box-shadow: none;
}

.no-right-border{
  border-right: none;
}

.generate-button{
  background-color: #B9A0FF  ;
}

.generate-button:hover{
  background-color: #8c75ca !important ;
}

.copy-button{
  background-color: #24605A  ;
}

.copy-button:hover{
  background-color: #0f2826 !important;
}

.try-genify{
  background-color: #25333A;
}

.try-genify:hover{
  background-color: #0f2826 !important;
}


.flex{
  display: flex;
  align-items: center;
  width: 100%;

}

.left-container-prompt{
  width: 50%;
}

/* Small devices (phones, 576px and up) */
@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .right-prompt-container{
    border-radius: 2rem;
    border-right:1px solid black;
  }
  .left-container-prompt{
    border-right: black;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  

  .prompt-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .prompt-container .prompt-box {
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
  }

  .prompt-container .prompt-box textarea {
    width: 100%;
    height: 300px;
  }

  .right-prompt-container{
    border-radius: 2rem;
    margin-top: 1rem;
  
  }
  .left-container-prompt{
    border-right:1px solid black;
    border-radius: 2rem;
    
  }

  .prompt-title{
    font-weight: 500;
  }
}


/* NotFound.css */


.Error-page {
  text-align: center; 
  margin-top: 50px; 
}

.Error-page h1 {
  font-size: 2rem; 
  font-weight: bold; 
  color: #333; 
}

.Error-page img {
  display: block;
  margin: 0 auto; 
  max-width: 200px; 
  height: auto; 
}

.Error-page p {
  font-size: 1rem;
  color: #555; 
  margin-top: 20px; 
  font-family: "Poppins";
  font-weight: bold;
}


/* documentation.css */

.documentation-title{
  font-size: 2.5rem;
  font-weight: 600;
}

.documentation-editor{
  padding: 0rem 8rem;
  border: 0px;
}

@media (max-width: 768px){
  .documentation-title{
    font-weight: 400;
  }

  .documentation-editor{
    padding: 0rem 1rem;
    border: 0px;
  }
}
